<h1>{{ title }}</h1>
<app-champion-list></app-champion-list>
<!-- <div class="container">
    <h2>Champion List</h2>
    <div *ngFor="let champion of championList" class="champion-card">
    <h3>{{ champion.name }}</h3>
    <h4>{{ champion.title }}</h4>
    <p>Class: {{ champion.class }}</p>
    <p>Blue Essence: {{ champion.price }}</p>
    <p *ngIf="champion.isOP">OP: Yes</p>
    <p *ngIf="!champion.isOP">OP: No</p>
    <button (click)="toggleOPStatus(champion)" class="toggle-button">
        Toggle OP Status
    </button>
    </div>
</div> -->
