h1 {
    text-align: center;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #F0E6D2;
    margin-bottom: 20px;
  }
  
  .champion-card {
    background-color: rgb(10, 20, 40);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .champion-card h3 {
    margin: 0;
    color: white;
    font-size: 2em;
  }

  .champion-card h4 {
    margin: 0 0 20px 10px;
    color: rgb(200, 170, 110);
  }
  
  .champion-card p {
    margin: 5px 0;
    color: white;
  }
  
  .toggle-button {
    margin-top: 10px;
    padding: 5px 10px;
    color: black;
    background-color: #c8aa6e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .toggle-button:hover {
    background-color: #d3bb8b;
    color: #0A1428;
  }