<app-champion-details [champion]="champion1"></app-champion-details>
<app-champion-details [champion]="champion2"></app-champion-details>
<app-champion-details [champion]="champion3"></app-champion-details>
<app-champion-details [champion]="champion4"></app-champion-details>
<app-champion-details [champion]="champion5"></app-champion-details>
<app-champion-details [champion]="champion6"></app-champion-details>
<app-champion-details [champion]="champion7"></app-champion-details>
<app-champion-details [champion]="champion8"></app-champion-details>
<app-champion-details [champion]="champion9"></app-champion-details>
<app-champion-details [champion]="champion10"></app-champion-details>


